
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
body {
    font-family: 'Chivo', sans-serif;
}
h1.hero-heading {
    font-size: 270px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;

}
p.hero-subhead {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    color: red; 
    margin: -110px 0 0 580px;
}

.head{
    /* background-color: rgb(150, 208, 202); */
    text-align: center;
}
.flower{
    margin: 0px 0px -100px 550px;  
}

.cards{
   margin: 30px 0 0 0;
}
.card{
    margin: 20px 20px 50px 0;
    float: left;
}

/* 
*************footer****************** */



 .bg-grey {
    background: #292929;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
        clear: both;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}



/* ********************end footer************************ */



/* ********************Media************************ */

  /* ------------------------320px------------------------------- */

@media (max-width:320px)  {
     /* smartphones, iPhone, portrait 480x320 phones */ 
     h1.hero-heading {
        font-size: 80px;
    }
    p.hero-subhead{
        margin: -50px 0 0 170px;         
        font-size: 25px;
    }
    .flower{

        margin: 0px 0px -100px 50px;  
    }  

    }

 /* ------------------------320px end------------------------------- */


    /* ------------------------481px------------------------------- */

@media (max-width:481px)  {

    h1.hero-heading {
        font-size:100px;
    }

    p.hero-subhead{
        margin: -50px 0 0 170px;         
        font-size: 25px;
    }

    .flower{     
        /* display: none; */
        margin: 0px 0 -40px 170px;  
    }


    }

  /* ---------------------end---481px------------------------------- */

  
    /* ------------------------641px------------------------------- */
@media (max-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
 
    h1.hero-heading {
        font-size:100px;
    }

    p.hero-subhead{
        margin: -50px 0 0 170px;         
        font-size: 25px;
    }

    .flower{     
        /* display: none; */
        margin: 0px 0 -40px 170px;  
    }

}

    /* ------------------------end 641px------------------------------- */

@media (max-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    h1.hero-heading {
        font-size:100px;
    }

    p.hero-subhead{
        margin: -50px 0 0 170px;         
        font-size: 25px;
    }

    .flower{     
        /* display: none; */
        margin: 0px 0 -40px 170px;  
    }
 
}


@media (max-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
   
 }



@media (max-width:1281px) { 
    /* hi-res laptops and desktops */
 }